<!doctype html>
<html data-bs-theme="dark" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Equilibrium Labs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
    <div class="container mt-3">

        <nav class="navbar navbar-expand-lg border-bottom">
            <a class="navbar-brand" href="#">Equilibrium Labs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <button class="nav-link btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#howToModal"><strong>How To</strong></button>
                    </li>
                    <li class="nav-item mx-2">
                        <button class="nav-link btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#aboutModal"><strong>About</strong></button>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="modal modal-dialog-scrollable modal-lg fade" id="howToModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">How To</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            For optimal use of this tool, it is recommended to include the following Pine Script to your Trading View Account. Note that if you open this app from a mobile device, you might not see all the data, or the redirection button won't work properly. Use
                            a laptop's web browser for the full experience.
                        </p>

                        <script src="https://gist.github.com/Erodotos/a67bec6ebbaa186e5cc46b640acd89fd.js"></script>

                        <p>
                            You are ready to go 🙂. Use the search bar on the top of your screen to find your favourite coin, or apply any of the provided filters to check bullish or bearish coins.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal modal-dialog-scrollable modal-lg fade" id="aboutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">About</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h3>Introduction</h3>
                        <p>
                            Introducing Equilibrium, a comprehensive trend analysis tool for the cryptocurrency long-term investor. The application combines cutting-edge technology with a well-known trading indicator (let's call it "Golden Line" ... read the full story
                            <a href="https://www.tradingview.com/script/8bjulALc-Andres-Line/">here</a>) to provide valuable insights on buy and sell opportunities in the ever-evolving cryptocurrency market.
                        </p>
                        <h3>The Problem</h3>
                        <p>
                            Applying an indicator on your favourite coin is straightforward and intuitive. For instance, if you like Bitcoin, you can look into this chart forever and don't bother with other assets; fair enough. But what about the rest of the market? In the crypto
                            ocean, another coin might be soaring, with a potential of 100X. Would you forgive yourself for missing the next Matic or Dogecoin?
                        </p>
                        <h3>The Solution</h3>
                        <p>
                            Operating on weekly candle sticks, Equilibrium fetches data directly from the renowned Binance exchange for all trading pairs. Afterwards, it applies the "Golden Line" indicator allowing you to identify trends across the whole market, discover potential
                            in new trading assets and make informed trading decisions.
                        </p>

                        <p>
                            Equilibrium's heart lies in its intuitive dashboard, which presents a list of analyzed trading pairs. With a glance, you can see whether a crypto coin is bullish, bearish, or in the grey zone. Furthermore, the dashboard offers essential information, such
                            as the chart age, asset price, and volume regarding the latest week's candle close.
                        </p>
                        <p>
                            Note that Equilibrium is modified to present only trading pairs with a chart age over two years. This constraint was applied to assume only well-established coins, minimizing the indicator errors.
                        </p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row justify-content-center mt-5">
            <div class="dropdown-center col-auto">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                  Indicators
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item active" id="trend-analyser-link">Trend Analyser</a></li>
                  <li><a class="dropdown-item"  id="social-indicator-link">Social Indicator</a></li>
                </ul>
              </div>
        </div>


        <div class="row mt-5" id="search-bar">
            <div class="col-lg-4 col-md-6 mx-auto">
                <form class="d-flex">
                    <input id="search" class="form-control me-2" type="search" placeholder="Search">
                </form>
                <div id="filters" class="d-flex justify-content-start align-items-center text-center mt-2">
                    <span style="font-size: 1rem;">Filter Charts:</span>
                    <button id="filter-green" type="button" class="btn btn-outline-success mx-1 py-0" style="--bs-btn-font-size: .9rem;">#green</button>
                    <button id="filter-red" type="button" class="btn btn-outline-danger mx-1 py-0" style="--bs-btn-font-size: .9rem;">#red</button>
                    <button id="filter-gray" type="button" class="btn btn-outline-secondary mx-1 py-0" style="--bs-btn-font-size: .9rem;">#gray</button>
                </div>
            </div>
        </div>

        <div class="row mt-5" id="trend-analysis">
            <div class="col-12">
                <table id="table" class="table table-hover text-center">
                    <thead class="sticky-top">
                        <tr>
                            <th>Symbol</th>
                            <th class="d-none d-md-table-cell">Date</th>
                            <th>Price (USD)</th>
                            <th class="d-none d-md-table-cell">Volume</th>
                            <th class="d-none d-md-table-cell">Chart Age (Weeks)</th>
                            <th>View Chart</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pair in data["trend"] %}
                        <tr>
                            <td class="align-middle">{{ pair.Symbol }}</td>
                            <td class="align-middle d-none d-md-table-cell">{{ pair.Date }}</td>
                            <td class="align-middle">{{ pair.Price }}</td>
                            <td class="align-middle d-none d-md-table-cell">{{ pair.Volume }}</td>
                            <td class="align-middle d-none d-md-table-cell">{{ pair.ChartAge }}</td>
                            <td class="align-middle">
                                {% if pair.Status == "gray" %}
                                <a href="{{ 'https://www.tradingview.com/chart/?symbol=BINANCE:%s' %pair.Symbol }}" target="_blank" class="btn btn-secondary">
                                    <i class="bi bi-arrow-right-circle-fill"></i>
                                </a>
                                {% elif pair.Status == "green" %}
                                <a href="{{ 'https://www.tradingview.com/chart/?symbol=BINANCE:%s' %pair.Symbol }}" target="_blank" class="btn btn-success">
                                    <i class="bi bi-arrow-up-right-circle-fill"></i>
                                </a>
                                {% elif pair.Status == "red" %}
                                <a href="{{ 'https://www.tradingview.com/chart/?symbol=BINANCE:%s' %pair.Symbol }}" target="_blank" class="btn btn-danger">
                                    <i class="bi bi-arrow-down-right-circle-fill"></i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-5" id="social-indicator"  style="display: none;">
            <div class="col-12">
                <table id="table" class="table table-hover text-center">
                    <thead class="sticky-top">
                        <tr>
                            <th>Channel</th>
                            <th>Subscribers</th>
                            <th>Views</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for channel in data["social"] %}
                        <tr>
                            <td class="align-middle">
                                <a href="{{ 'https://www.youtube.com/channel/%s' %channel.id }}"  target="_blank" class="btn btn-warning">
                                    {{ channel.name }}
                                </a>
                            </td>
                            <td class="align-middle">
                                <a href="{{ './charts/subs/%s.html' %channel.name }}" target="_blank" class="btn btn-danger">
                                    {{ channel.subscribers[0].count }}
                                </a>
                            </td>
                            <td class="align-middle">
                                <a href="{{ './charts/views/%s.html' %channel.name }}" target="_blank" class="btn btn-danger">
                                    {{ channel.views[0].count }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#table tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $("#filter-green").click(function() {
                if ($("#filter-red").hasClass("active") || $("#filter-gray").hasClass("active")) {
                    $("#table tbody tr").show();
                    $("#filter-red").removeClass("active");
                    $("#filter-gray").removeClass("active");
                }
                $("#table tbody tr").filter(function() {
                    return !$(this).find("td:eq(5) a").hasClass("btn-success");
                }).toggle();
                $(this).toggleClass("active");
            });
            $("#filter-red").click(function() {
                if ($("#filter-green").hasClass("active") || $("#filter-gray").hasClass("active")) {
                    $("#table tbody tr").show();
                    $("#filter-green").removeClass("active");
                    $("#filter-gray").removeClass("active");
                }
                $("#table tbody tr").filter(function() {
                    return !$(this).find("td:eq(5) a").hasClass("btn-danger");
                }).toggle();
                $(this).toggleClass("active");
            });
            $("#filter-gray").click(function() {
                if ($("#filter-red").hasClass("active") || $("#filter-green").hasClass("active")) {
                    $("#table tbody tr").show();
                    $("#filter-green").removeClass("active");
                    $("#filter-red").removeClass("active");
                }
                $("#table tbody tr").filter(function() {
                    return !$(this).find("td:eq(5) a").hasClass("btn-secondary");
                }).toggle();
                $(this).toggleClass("active");
            });
            $(".dropdown-menu li #trend-analyser-link").click(function(){
                $(".dropdown-menu li a").removeClass('active');
                $(this).addClass('active');
                $("#search-bar").show();
                $("#trend-analysis").show();
                $("#social-indicator").hide();
            });
            $(".dropdown-menu li #social-indicator-link").click(function(){
                $(".dropdown-menu li a").removeClass('active');
                $(this).addClass('active');
                $("#social-indicator").show();
                $("#search-bar").hide();
                $("#trend-analysis").hide();
            });
        });
    </script>

</body>

</html>